---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('post')).filter(post => !post.data.ignore).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: minMax(700px, 3fr) 1fr;
                grid-auto-flow: column;
                grid-auto-columns: minmax(260px, 1fr);
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 0.2rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                width: calc(100% - 1rem);
                white-space: nowrap;
            }
            ul li * {
                text-decoration: none;
                transition: 0.2s ease;
            }
            ul li img {
                margin-bottom: 0.5rem;
                border-radius: 12px;
            }
            ul li a {
                display: flex;
                align-items: center;
            }
            .title {
                padding-left: 20px;
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
            }
            ul li a:hover h4,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            ul a:hover img {
                box-shadow: var(--box-shadow);
            }
            @media (max-width: 720px) {
                ul {
                    gap: 0.5em;
                }
                ul li {
                    width: 100%;
                    text-align: center;
                }
                ul li:first-child {
                    margin-bottom: 0;
                }
            }
        </style>
    </head>
    <body>
        <Header />
            <main class="grid-container">
                <section class="posts">
                    <ul>
                        {
                        posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.slug}/`}>
                                <p class="date">
                                    <FormattedDate date={post.data.pubDate} />
                                </p>
                                <b class="title">{post.data.title}</b>
                            </a>
                        </li>
                        ))
                        }
                    </ul>
                </section>
                <About />
            </main>
            <Footer />
<script>
    import '../scripts/menu.js'
</script>
    </body>
</html>
